<div class="quote">    
    <h3 id="quote-text">"O Bitcoin é a primeira moeda que foi criada sem a intervenção de um governo ou instituição financeira, tornando-se um símbolo da <b>liberdade financeira</b> e da   <b>autonomia individual."</b></h3>
    <p id="quote-name">- Andreas M. Antonopoulos.</p>
  </div>
  <div id="hr-01"></div>
  <div class="intro">
    <h2 class="h2-intro">O que é <i><u>bitcoin?</u></i></h2>
    <p id="intro-p">Bitcoin é uma criptomoeda descentralizada e uma forma de dinheiro digital criada em 2009 por um desenvolvedor ou grupo de desenvolvedores sob o pseudônimo de Satoshi Nakamoto. É a primeira e mais conhecida criptomoeda do mundo, contendo características únicas que o tornam singular. São elas: </p>
  </div>
