<div id="hr-02"></div>
<div class="card-box">
  <div class="card">
    <img class="img-card" src="/assets/decentralized_black.png" alt="blockchain">
    <h4 class="h4-card">Descentralização</h4>
    <p id="card-p">O Bitcoin é uma moeda digital que se destaca pela sua descentralização. Isso significa que não há uma autoridade central controlando ou regulando o Bitcoin. Ao contrário das moedas tradicionais que são controladas por governos ou bancos centrais (também chamadas de fiduciárias), o Bitcoin é gerenciado por uma rede de computadores chamada blockchain. Essa rede distribuída é formada por pessoas comuns, conhecidas como mineradores, que validam as transações e garantem a segurança da rede. A descentralização do Bitcoin significa que não há uma única entidade no controle, o que oferece maior liberdade e independência financeira para os usuários.

    </p>
  </div>
  <div class="card">
    <img class="img-card" src="/assets/shield-v2.png" alt="escudo">
    <h4 class="h4-card">Segurança</h4>
    <p id="card-p">A segurança é outro aspecto fundamental do Bitcoin. A criptografia é usada para proteger as transações e manter os fundos dos usuários seguros. Cada transação realizada com Bitcoin é registrada em um livro-razão público chamado blockchain, que é imutável e resistente a fraudes. Além disso, o Bitcoin utiliza a tecnologia de assinatura digital, garantindo a autenticidade das transações e a integridade dos dados. A segurança do Bitcoin também é reforçada pela descentralização, pois a rede distribuída torna mais difícil para um atacante comprometer a segurança da rede como um todo.</p>
  </div>
  <div class="card">
    <img class="img-card" src="/assets/magnifier.png" alt="lupa">
    <h4 class="h4-card">Transparência e Privacidade</h4>
    <p id="card-p2">O Bitcoin oferece uma combinação única de transparência e privacidade. Todas as transações realizadas com Bitcoin são registradas na blockchain e podem ser verificadas por qualquer pessoa. Isso significa que a transparência é um dos princípios fundamentais do Bitcoin, permitindo que os usuários tenham acesso a um histórico completo de transações. No entanto, ao contrário do que algumas pessoas pensam, o Bitcoin também oferece um certo nível de privacidade. Embora as transações sejam registradas na blockchain, a identidade dos usuários não é necessariamente revelada. As carteiras de Bitcoin são identificadas por chaves públicas, que são sequências aleatórias de caracteres, proporcionando um certo grau de anonimato aos usuários.</p>
  </div>
</div>